# General
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# Node / npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
dist/
build/
coverage/

# Env / local
.env
.env.*
.vscode/
.idea/

# Vercel
.vercel/

# OS
*.bak
~$*
